/**
 * @file
 * Stylesheet for the Contact Form Blocks module.
 */

/* Reset the fixed width of input form text fields to use a dynamic width
 * depending on the parent elements.
 */
#custom-add-block {
   display:block;
   z-index:100;	
}

div#custom-add-block-icon {
	float: left;
	height: 78px;
	padding: 2px;
	width: 65px;
	color: #333;
	text-shadow: 0 1px 0 #FFF;
	overflow:hidden;
	text-overflow: ellipsis;
	text-align:center;
	font-family: Helvetica;
	font-size: 10pt;
	line-height: 9pt;
	font-weight: normal;
}

div#custom-add-block-icon img{
	padding:2px;

}


div#custom-add-block-close {
  float: right;
  position: absolute;
  bottom: -25px;
  right: 25px;
}

div#custom-add-block-close img {
	
}


div#custom-add-block-load img {
	alignment-baseline:central;
}
